.about{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.about .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.about .cards .card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 3rem 3.5rem;
}

.about .cards .card.card-1{
    background: #EDFAEF;
}

.about .cards .card.card-2{
    background: #FFF6DA;
}

.about .cards .card.card-3{
    background: #EFF6FF;
}

.about .cards .card span{
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.about .cards .card span.logo-1{
    background: #3CCF88;
}
.about .cards .card span.logo-2{
    background: #FDC20B;
}
.about .cards .card span.logo-3{
    background: #137AFF;
}
.about .cards .card span.logo-3 svg path{
    fill: #fff;
}

.about .cards .card span svg{
    width: 2.5rem;
}




/* ---- responsive ---- */

@media (max-width:1300px){
    .about .cards .card{
        padding: 3rem 2.5rem;
    }
}

@media (max-width:1200px) {
    .about .cards .card{
        padding: 3rem 2rem;
    }
}

@media (max-width:1100px) {
    .about .cards .card{
        padding: 3rem 1.5rem;
    }
    .about .cards .card span{
        left: 1.5rem;
    }
}


@media (max-width:1040px) {
    .about .cards .card{
        padding: 3rem 1rem;
    }
    .about .cards .card span{
        left: 1rem;
    }
}


@media (max-width:978px) {
    .about .cards .card h3{
        font-size: 14px;
    }
    .about .cards .card p{
        font-size: 14px;
    }
}

@media (max-width:790px) {
    .about .cards{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media (max-width:550px) {
    .about .cards{
        grid-template-columns: repeat(1,1fr);
    }
    
}





